


.boxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 75%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
    transition: box-shadow 0.5s, background-color 0.8s, border-radius 0.3s;
}

.boxContainer:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f0a377;
    height: max-content;
    border-radius: 15px;
}

.boxSvgDiv {
    margin-top:1.5em;
}

.svgIcon {
    width: 4.5em;
    height: 4.5em;
    fill: white;
}

.boxHeadingDiv {
    margin: 0;
}

.boxHeadingDiv > h2 {
    text-align: center;
    font-size: 2em;
    color: white;
}

.boxDetailsDiv {
    margin: 0;
    width: 90%;
    height: 90%;
}

.boxDetailsDiv > p {
    text-align: center;
    font-size: 1.6em;
    font-weight: 300;
    color: white;
}


/* Media queries for different screen sizes */

/* Small screens (phones) */
@media only screen and (max-width: 600px) {
    .boxContainer {
        width: 90%;
    }

    .boxHeadingDiv > h2 {
        font-size: 1.8em;
    }

    .boxDetailsDiv > p {
        font-size: 1.4em;
    }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .boxContainer {
        width: 90%;
    }

    .svgIcon{
        width: 3em;
        height: 3em;
    }

    .boxHeadingDiv > h2 {
        font-size: 1.5em;
    }

    .boxDetailsDiv > p {
        font-size: 1.3em;
    }
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
    .boxContainer {
        width: 90%;
    }

    .svgIcon{
        width: 3em;
        height: 3em;
    }

    .boxHeadingDiv > h2 {
        font-size: 1.8em;
    }

    .boxDetailsDiv > p {
        font-size: 1.3em;
    }
}